body{
    background-color: #EAEDED  
}

.navbar {
    background-color: white;
    /* overflow: hidden; */
    padding: 0px;
  }

  .navbar a {
    float: left;
    background-color: #3FA0A0;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
    font-family: "Times New Roman", Times, serif;
  }

  .nav-item a{
    background-color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: grey;
    border: 0px;
  }

  #dataMargin{
      margin-right: 50px;
      margin-left: 0px;
  }

  #comparisonMargin{
    margin-left: 0px;
  }

  #container1{
      background-color: white;
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 50px;
      height: 600px;
      width: 1000px;
  }

  #container2{
    background-color: white;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 50px;
    height: 550px;
    width: 500px;
}

.headermain{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #3FA0A0;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

#header2{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #3FA0A0;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 39px;
}

#img1{
  padding-top: 75px;
  height: 265px;
  width: 315px;
}

#imgcloud{
  padding-top: 25px;
  height: 365px;
  width: 415px;
}

.paragraphs{
  color: #595B5B;
  font-size: 14pt;
  padding-left: 75px;
  padding-right: 75px;
}

.imglinks{
  height: 150px;
  width: 175px;
}

.footer1{
  background-color: #3FA0A0;
  color: #3FA0A0;
  height: 5%;
  font-size: 5px;
  width: 100%;
}
.footer2{
  background-color: #595B5B;
  height: 150px;
  text-align: center;
  color: white;
  padding: 50px;
  width: 100%;
}

#comparisoncontainer{
background-color: white;
margin-top: 50px;
margin-left: 50px;
margin-right: 70px;
align-content: center;
}

.imgcompare{
height: 300px;
width: 410px;
}

.h3compare{
  color: #3FA0A0;
  font-weight: bold;
}

#datatable{
margin: 50px;
margin-right: 50px;
}

.box{
  margin-top: 50px;
  height: 750px;
  background-color: white;
}
.pcompare{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #3FA0A0;
  text-align: center;
}

@media (max-width: 480px) {
.box{
  float: left;
}
}